services:
  app:
    image: ghcr.io/regysaputra/go-auth:latest
    container_name: app
    ports:
      - "8080:8080"
    environment:
      - PORT=${PORT}
      - SECRET_KEY=${SECRET_KEY}
      - DATABASE_URL=${DATABASE_URL}
      - SMTP_HOST=${SMTP_HOST}
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_USERNAME=${SMTP_USERNAME}
      - SMTP_PASSWORD=${SMTP_PASSWORD}
      - SMTP_FROM=${SMTP_FROM}
      - BASE_URL=${BASE_URL}
      - REDIS_URL=${REDIS_URL}
    depends_on:
      - db
      - redis
    restart: always

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    restart: always
    entrypoint: [ "/usr/local/bin/redis-server" ]
    command: [ "--appendonly", "yes" ]
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5

  db:
    image: postgres:17-alpine
    container_name: db
    restart: always
    environment:
      POSTGRES_PASSWORD: 123
      POSTGRES_USER: regy
      POSTGRES_DB: auth
    volumes:
      - pg-data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  migrate:
    image: migrate/migrate
    volumes:
      - ./db/migrations:/migrations
    entrypoint: ["/usr/local/bin/migrate"]
    command: [
      "-path", "/migrations",
      "-database", "postgres://regy:123@db:5432/auth?sslmode=disable",
      "up"
    ]
    depends_on:
      - db

volumes:
  pg-data:
  redis-data:
